<% include ./partials/header.ejs %>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    
<main class="container">
	<seection calss="jumbotron">
		This applciation, built in winter , uses NodeJs, ExpressJs, MongoDB, Mongoose, and Twitter Bootstrap.
		
	</section>

</main>
    
<% include ./partials/footer.ejs %>